.home-button{
text-transform: capitalize;
font-size: 250%;
background: transparent;
border: 1rem solid  rgba(43, 1, 1, 0.863) ;
color: rgba(43, 1, 1, 0.863) ;
padding: 1% 0.7%;
padding-bottom: 0%;
cursor: pointer;
margin:0.2rem 0.5rem 0.2rem 0;
transition:all 0.5s ease-in-out;
background: rgb(158, 175, 81); 
}
.button-wrapper{
    padding-left: 61rem;
}
.home-button:hover{
    background: rgba(43, 1, 1, 0.863) ;
    color:  rgb(158, 175, 81);
    border-color: rgb(158, 175, 81);
}
